@charset "UTF-8";

*{
	box-sizing: border-box; /*자동으로 border값까지 영역을 잡아주는 속성 -> 일관성있게 내용이 보임*/
	margin: 0px;
	padding: 0px;
	font-family: 'Do Hyeon', sans-serif;
	
}

header{
	height:80px;
	line-height: 80px;
	text-align: center;
	background-color: #000000;
	color: #ffffff; 
}

nav{
	height: 30px;
	line-height: 30px;
	background-color:  #ec0000;
	text-align: center;
	
}

nav a{
	text-decoration: none;
	margin-left: 30px;
	color: #ffffff;
}

section{
	height:500px;
	padding: 20px;
	overflow: auto;
	position: relative;
}

section div{
	text-align: center;
	margin: 20px;
}

section ol{
	margin-left: 30px;
}

table{
	font-size: 20px;
}

input{
	font-size: 18px;
}

select{
	font-size: 18px;
}
footer{
	height: 40px;
	line-height: 40px;
	background-color: #000000; 
	color: #ffffff; 
	text-align: center;
}

.table_line{
	line-height: 25px;
}

.btn{
	height: 20px;
	width: 40px;
}

img{
	height: 180px;
	position: absolute;
	z-index: -1;
	right: 5px;
	bottom: 0px;
	
	
}